@import 'src/styles/variables';
@import 'src/styles/functions';
@import 'src/styles/mixins';
@import 'src/styles/keyframes';

.mainstrip-talented{
    margin-left: 5px;
    font-size: 1.2em;    text-shadow: 3px 3px 9px rgba(0, 0, 0, 0.603);
    background: linear-gradient(149.47deg, rgb(86, 145, 255) 5.08%, rgb(73, 70, 229) 50.65%, rgb(110, 35, 223) 75.66%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.mainstrip-designers{
    margin-left: 5px;
    font-size: 1.2em;
    text-shadow: 3px 3px 9px rgba(0, 0, 0, 0.603);
    background: linear-gradient(149.47deg, rgb(216, 124, 164) 5.08%,
    rgba(162, 51, 125, 1) 50.65%, rgba(137, 31, 127, 1) 75.66%);    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.mainstrip-developers{
    margin-left: 5px;
    font-size: 1.2em;
    text-shadow: 3px 3px 9px rgba(0, 0, 0, 0.603);
    background: linear-gradient(166.2deg, rgba(115, 180, 255, 1) 5.77%, rgba(62, 151, 255, 1) 44.34%, rgba(32, 159, 231,1) 86.27%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.mainstrip-best{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1.2em;
    text-shadow: 3px 3px 9px rgba(0, 0, 0, 0.603);
    background: linear-gradient(149.47deg, rgb(255, 235, 137) 5.08%,
    rgb(225, 136, 27) 50.65%, rgb(251, 105, 32) 75.66%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
