@import './variables';

// This file is for defining and importing local fonts into the app
// Inter font family
@font-face {
    font-family: $inter_thin;
    src: url('/assets/fonts/Inter/Inter-Thin.ttf') format("truetype");
}

@font-face {
    font-family: $inter_extra_light;
    src: url('/assets/fonts/Inter/Inter-ExtraLight.ttf') format("truetype");
}

@font-face {
    font-family: $inter_light;
    src: url('/assets/fonts/Inter/Inter-Light.ttf') format("truetype");
}

@font-face {
    font-family: $inter_regular;
    src: url('/assets/fonts/Inter/Inter-Regular.ttf') format("truetype");
}

@font-face {
    font-family: $inter_medium;
    src: url('/assets/fonts/Inter/Inter-Medium.ttf') format("truetype");
}

@font-face {
    font-family: $inter_semi_bold;
    src: url('/assets/fonts/Inter/Inter-SemiBold.ttf') format("truetype");
}

@font-face {
    font-family: $inter_bold;
    src: url('/assets/fonts/Inter/Inter-Bold.ttf') format("truetype");
}

@font-face {
    font-family: $inter_extra_bold;
    src: url('/assets/fonts/Inter/Inter-ExtraBold.ttf') format("truetype");
}

@font-face {
    font-family: $inter_black;
    src: url('/assets/fonts/Inter/Inter-Black.ttf') format("truetype");
}

// Roboto font family
@font-face {
    font-family: $roboto_thin;
    src: url('/assets/fonts/Roboto/Roboto-Thin.ttf') format("truetype");
}

@font-face {
    font-family: $roboto_thin_italic;
    src: url('/assets/fonts/Roboto/Roboto-ThinItalic.ttf') format("truetype");
}

@font-face {
    font-family: $roboto_light;
    src: url('/assets/fonts/Roboto/Roboto-Light.ttf') format("truetype");
}

@font-face {
    font-family: $roboto_light_italic;
    src: url('/assets/fonts/Roboto/Roboto-LightItalic.ttf') format("truetype");
}


@font-face {
    font-family: $roboto_regular;
    src: url('/assets/fonts/Roboto/Roboto-Regular.ttf') format("truetype");
}

@font-face {
    font-family: $roboto_medium;
    src: url('/assets/fonts/Roboto/Roboto-Medium.ttf') format("truetype");
}

@font-face {
    font-family: $roboto_medium_italic;
    src: url('/assets/fonts/Roboto/Roboto-MediumItalic.ttf') format("truetype");
}

@font-face {
    font-family: $roboto_bold;
    src: url('/assets/fonts/Roboto/Roboto-Bold.ttf') format("truetype");
}

@font-face {
    font-family: $roboto_bold_italic;
    src: url('/assets/fonts/Roboto/Roboto-BoldItalic.ttf') format("truetype");
}

@font-face {
    font-family: $roboto_black;
    src: url('/assets/fonts/Roboto/Roboto-Black.ttf') format("truetype");
}

@font-face {
    font-family: $roboto_black_italic;
    src: url('/assets/fonts/Roboto/Roboto-BlackItalic.ttf') format("truetype");
}