@keyframes alterVis1 {
    0%{
        opacity: 0;
    }
   
    20%{
        opacity: 1;
    }

    40%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
@keyframes alterVis2 {
    0%{
        opacity: 0;
    }
   
    50%{
        opacity: 0;
    }

    70%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

// THIS METHOD OVERLAP WITH ALTERVIS1
@keyframes alterVis2-overlap {
    0%{
        opacity: 1;
    }
    20%{
        opacity: 1;
    }  
    40%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    70%{
        opacity: 0;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}