@import "./variables";


@mixin text-gradient($value) {
    background: $value;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin placeholder {
    &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        @content;
    }

    &::-moz-placeholder {
        /* Firefox 19+ */
        @content;
    }

    &:-ms-input-placeholder {
        /* IE 10+ */
        @content;
    }

    &:-moz-placeholder {
        /* Firefox 18- */
        @content;
    }
}

@mixin width($screen-name, $screen-width, $type) {
    @if $screen-name==full {
        @if $type==set {
            @for $i from 1 through 100 {
                .w-#{$i} {
                    width: $i + 0% !important;
                }
            }
        }

        @else {
            @if $type==unset {
                .w-unset {
                    width: unset !important;
                }
            }
        }
    }

    @else {
        @media screen and (min-width: $screen-width) {
            @if $type==set {
                @for $i from 1 through 100 {
                    .w-#{$screen-name}-#{$i} {
                        width: $i + 0% !important;
                    }
                }
            }

            @else {
                @if $type==unset {
                    .w-#{$screen-name}-unset {
                        width: unset !important;
                    }
                }
            }
        }
    }
}

// ------------------------ RESPONSIVE ON SCREENS --------------------
// Extra extra small devices (portrait phones, less than 375.98px)
@mixin media-xxs {
    @media (max-width: 375.98px) {
        @content;
    }
}

// Extra small devices (portrait phones, less than 576px)
@mixin media-xs {
    @media (min-width: 376px) and (max-width: 575.98px) {
        @content;
    }
}

@mixin media-lt-xs {
    @media (max-width: 575.98px) {
        @content;
    }
}

@mixin media-gt-xs {
    @media (min-width: 376px) {
        @content;
    }
}

// Small devices (landscape phones, 576px and up)
@mixin media-sm {
    @media (min-width: 576px) and (max-width: 767.98px) {
        @content;
    }
}

@mixin media-lt-sm {
    @media (max-width: 767.98px) {
        @content;
    }
}

@mixin media-gt-sm {
    @media (min-width: 576px) {
        @content;
    }
}

// Medium devices (tablets, 768px and up)
@mixin media-md {
    @media (min-width: 768px) and (max-width: 991.98px) {
        @content;
    }
}

@mixin media-lt-md {
    @media (max-width: 991.98px) {
        @content;
    }
}

@mixin media-gt-md {
    @media (min-width: 768px) {
        @content;
    }
}

// Large devices (desktops, 992px and up)
@mixin media-lg {
    @media (min-width: 992px) and (max-width: 1199.98px) {
        @content;
    }
}

@mixin media-lt-lg {
    @media (max-width: 1199.98px) {
        @content;
    }
}

@mixin media-gt-lg {
    @media (min-width: 992px) {
        @content;
    }
}

// Extra large devices (large desktops, 1200px and 1400px)
@mixin media-xl {
    @media (min-width: 1200px) and (max-width: 1399.98px) {
        @content;
    }
}

@mixin media-lt-xl {
    @media (max-width: 1399.98px) {
        @content;
    }
}

@mixin media-gt-xl {
    @media (min-width: 1200px) {
        @content;
    }
}

// Extra extra large devices (large desktops, 1400px and up)
@mixin media-xxl {
    @media (min-width: 1400px) {
        @content;
    }
}


// Custom devices
@mixin media($minWidth, $maxWidth) {
    @if ($minWidth=="auto" and $maxWidth  !="auto") {
        @media (max-width: $maxWidth) {
            @content;
        }
    }

    @else if ($minWidth  !="auto" and $maxWidth=="auto") {
        @media (min-width: $minWidth) {
            @content;
        }
    }

    @else if ($minWidth  !="auto" and $maxWidth  !="auto") {
        @media (min-width: $minWidth) and (max-width: $maxWidth) {
            @content;
        }
    }
}

// ADDING THE BLINK BRIGHT EFFECT
//  PARAMETER BLINK-IN second, BLINK-OUT second AND OPACITY DEFAULT VALUE OPACITY=1
@mixin blink($i, $j, $o:1) {
    
    overflow: hidden;
        &::before{
            content:"";
            position:absolute;
            top: 0;
            left: 0;
            z-index: 566;
            height: 300%;
            width: 100%;
            opacity: $o;
            background:linear-gradient(16deg,rgba(0,0,255,1) 30%,rgba(255, 255, 255,.2) 51%,rgba(0,0,255,0) 61%),
            linear-gradient(180deg,rgba(35, 35, 35, 0),
            rgba(0,74,109,0),rgba(46,46,46, 0),rgba(0, 0, 0, 0));
            background:linear-gradient(16deg,rgba(0,0,255,0) 30%,rgba(255, 255, 255,.2) 51%,rgba(0,0,255,0) 61%),
            linear-gradient(180deg,rgba(35, 35, 35, 0),
            rgba(0,74,109,0),rgba(46,46,46, 0),rgba(0, 0, 0, 0));
            transition: transform ($j)+s ease;

        }
        &:hover::before, &:active::before {
            transform: translateY(-66%);
            transition: transform ($j)+s ease;

          }
        }

// 