$xs-width: 376px;
$sm-width: 576px;
$md-width: 768px;
$lg-width: 992px;
$xl-width: 1200px;
$xxl-width: 1400px;

$card_xs_space: 0.5;
$card_sm_space: 0.7;

//Colors variables
$white: #fff;
$black: #000;

// fonts variables

// Inter font family
$inter_thin: "Inter-Thin"; // Weight 100
$inter_extra_light: "Inter-ExtraLight"; // Weight 200
$inter_light: "Inter-Light"; // Weight 300
$inter_regular: "Inter-Regular"; // Weight 400
$inter_medium: "Inter-Medium"; // Weight 500
$inter_semi_bold: "Inter-SemiBold"; // Weight 600
$inter_bold: "Inter-Bold"; // Weight 700
$inter_extra_bold: "Inter-ExtraBold"; // Weight 800
$inter_black: "Inter-Black"; // Weight 900
// Roboto font family
$roboto_thin: "Roboto-Thin"; // Weight 100
$roboto_thin_italic: "Roboto-Thin-Italic"; // Weight 100 Italic
$roboto_light: "Roboto-Light"; // Weight 300
$roboto_light_italic: "Roboto-Light_Italic"; // Weight 300 Italic
$roboto_regular: "Roboto-Regular"; // Weight 400
$roboto_medium: "Roboto-Medium"; // Weight 500
$roboto_medium_italic: "Roboto-Medium_Italic"; // Weight 500 Italic
$roboto_bold: "Roboto-Bold"; // Weight 700
$roboto_bold_italic: "Roboto-Bold-Italic"; // Weight 700 Italic
$roboto_black: "Roboto-Black"; // Weight 900
$roboto_black_italic: "Roboto-Black-Italic"; // Weight 900 Italic